@model PostgreTest.Models.Employee
@{
    ViewData["Title"] = "Edit employee";
}

<div class="form-group">
    <input type="text" id="FirstName" placeholder="enter first name" class="form-control" value="@Model.FirstName" />
</div>
<div class="form-group">
    <input type="text" id="LastName" placeholder="enter last name" class="form-control" value="@Model.LastName" />
</div>
<div class="form-group">
    <input type="text" id="Title" class="form-control" value="@Model.Title"/>
</div>
<div class="form-group">
    <input type="text" id="Country" placeholder="enter country" class="form-control" value="@Model.Country" />
</div>
<div class="form-group">
    <input type="text" id="Address" placeholder="enter address" class="form-control" value="@Model.Address" />
</div>
<div class="form-group">
    <input type="text" id="PhotoPath" placeholder="enter photopath" class="form-control" value="@Model.PhotoPath" />
</div>

<input type="hidden" id="EmployeeId" value="@Model.EmployeeId" />

<input type="button" id="edit" value="Edit" />

<script>
    $('#edit').click(function (e) {
        let firstName = $('#FirstName').val();
        let lastName = $('#LastName').val();
        let title = $('#Title').val();
        let country = $('#Country').val();
        let address = $('#Address').val();
        let photoPath = $('#PhotoPath').val();
        
        let jsonData = JSON.stringify({'employeeId': $("#EmployeeId").val(), 'firstName': firstName, 'lastName': lastName, 'title': title, 'country': country, 'address': address, 'photoPath': photoPath});
        $.ajax({
            url: '/api/Employees/' + $("#EmployeeId").val(),
            method: 'put',
            dataType: 'json',
            contentType: 'application/json',
            data: jsonData,
            cache: false,
            processData: false,
            success: function (data) {
                window.location.replace('/Home/Employees');
            }
        })
    });
</script>